<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand titleBar py-3">
        <%for(i=0;i<nav.length;i++){%>
        <a class="text-white ml-5" href='<%=nav[i].link%>'><%=nav[i].name%></a>
        <%}%>
    </nav>
    <div class="container-fluid titleBar2 py-4">
        <h1 class="display-3 ml-5 text-white pb-5"><strong><%=title%></strong></h1>
        </div>
        <div class="container bg-white info">
            <%for(i=0;i<authors.length;i++){%>
            <div class="col-md-12 border-bottom border-muted my-1">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3 my-3 rounded-circle"
                            src="/images/<%=authors[i].img%>"
                            height="100px" width="100px" alt="Image not found">
                        <div class="media-body">
                            <p class="text font-weight-bold mt-4 mb-1 ml-3"><%=authors[i].name%>
                            </p>
                            <button class="p text-white rounded border bg-secondary mt-3 ml-3"><%=authors[i].book%></button>
                            <p class="ml-3 mt-2"><%=authors[i].genre%><a class="text-muted" href="authors/<%=i%>">&#9662;Read More</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <%}%>
        </div>
        <footer class="border bt-2 my-3">
            <h1 class="text-muted foot display-5 bold mt-3">Follow Us</h1>
            <div class=" btn-group foot" role="group">
                <button class="btn twt">Twitter</button>
                <button class="btn fb">Facebook</button>
                <button class="btn googleplus">Google+</button>
            </div>
        </footer>
        <script src="/js/bootstrap.min.js"></script>
</body>

</html>